.card-container {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  color: #fff;
  padding-bottom: 2rem;
  text-decoration: none;
}

img {
  height: 130px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid black;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  text-decoration: none;
}

.heading {
  font-weight: bold;
  margin-left: 2rem;
  font-size: 0.8rem;
  text-decoration: none;
}

.details {
  margin-left: 0.2rem;
  font-size: 0.8rem;
  font-weight: lighter;
  text-decoration: none;
}

.link {
  text-decoration: none;
}
